img.agency_logo {
    max-height: 6rem;
    width: auto;
    max-width: 100%;
    display: block;
    margin: auto;
    margin-top: 1rem;
}

.loading {
    animation: load 1.25s linear infinite;
    color: var(--color-1);
}

@keyframes load {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

.nav {
    background-color: var(--color-4);
    border-top: none;
    font-family: var(--font-1) !important;
    margin-bottom: var(--size-6);
}

.nav-tabs .nav-link.active, .nav-pills .show>.nav-link {
    background-color: var(--color-1);
    color: var(--color-4);
}

.tag {
    background-color: var(--color-1);
    color: var(--color-4) !important;
    display: inline;
    padding-left: .25em;
    padding-right: .25em;
    border-radius: 7%;
}