img.agency_logo {
    max-height: 6rem;
    width: auto;
    max-width: 100%;
    display: block;
    margin: auto;
    margin-top: 1rem;
}

.loading {
    animation: load 1.25s linear infinite;
    color: var(--color-1);
}

@keyframes load {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

.nav {
    background-color: var(--color-4);
    border-top: none;
    font-family: var(--font-1) !important;
    margin-bottom: var(--size-6);
}

.nav-tabs .nav-link.active, .nav-pills .show>.nav-link {
    background-color: var(--color-1);
    color: var(--color-4);
}

.tag {
    background-color: var(--color-1);
    color: var(--color-4) !important;
    display: inline;
    padding-left: .25em;
    padding-right: .25em;
    border-radius: 7%;
}

.card.button {
    margin-bottom: var(--size-10);
}

.card.button, .accordion-button {
    border-color: var(--color-5);
    background: var(--gradient-2);
    transition: .5s box-shadow;
}

.card.button:hover, .accordion-button:hover {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.3) !important;
    background: linear-gradient(135deg, #b548ff0e 13%, #ffffff27 73%);
}

.card.button:active {
    box-shadow: rgb(56, 56, 56) 0 10px 20px 0px !important;
}

.card.button h2 {
    margin-bottom: 0;
}

.carousel-caption h5 {
    color: white;
}

.carousel-caption, .carousel button {
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 1;
}

.carousel-item {
    height: 750px;
    overflow-y: hidden;
    width: initial !important;
    max-width: 100%;
    margin: auto;
}

.carousel-item img {
    height: 750px;
}

.carousel {
    background: var(--color-2);
    border: 1px solid var(--color-4);
}

.photos {
    margin-bottom: 1rem;
}

.park-info {
    padding-bottom: 1rem;
}

.weather button:not(.accordion-button) {
    border: 1px solid;
    border-radius: 5px;
    background: white;
}

.jump-to-top {
    float: right;
    position: sticky;
    top: calc(100vh - 5rem);
    transition: 0s width !important;
    transition: .5s background-color !important;
    margin-right: 2rem;
    z-index: 1;
}

.park-info .accordion {
    margin-bottom: 1rem;
}

.accordion-button {
    background-color: white !important;
    color: black !important;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out, border-radius .15s ease;
}

@media (prefers-reduced-motion:reduce) {
    .accordion-button {
        transition: none;
    }
}

.accordion-button:not(.collapsed) {
    color: #0c63e4;
    background-color: #e7f1ff;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg);
}

.accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

@media (prefers-reduced-motion:reduce) {
    .accordion-button::after {
        transition: none;
    }
}

.accordion-button:hover {
    z-index: 2;
}

.accordion-button:focus {
    z-index: 3;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

.accordion-header, .accordion h4 {
    margin-bottom: 0;
    width: 100%;
    font-family: var(--font-1) !important;
}

.accordion h4 {
    margin-bottom: var(--size-5);
}

.accordion-item {
    background-color: #fff;
    border: .5px solid rgba(0, 0, 0, .25);
}

.accordion-item:first-of-type {
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.accordion-item:last-of-type {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.accordion-item:last-of-type .accordion-button.collapsed {
    border-bottom-right-radius: calc(.25rem - 1px);
    border-bottom-left-radius: calc(.25rem - 1px);
}

.accordion-item:last-of-type .accordion-collapse {
    border-bottom-right-radius: .25rem;
    border-bottom-left-radius: .25rem;
}

.accordion-body {
    padding: 1rem 1.25rem;
}

.accordion-flush .accordion-collapse {
    border-width: 0;
}

.accordion-flush .accordion-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}

.accordion-flush .accordion-item:first-child {
    border-top: 0;
}

.accordion-flush .accordion-item:last-child {
    border-bottom: 0;
}

.accordion-flush .accordion-item .accordion-button {
    border-radius: 0;
}

.accordion-item .row {
    margin-left: 1px;
    margin-right: 1px;
}

.articles, .videos, .park-info {
    border-bottom: var(--size-6) solid var(--color-1);
    border-bottom-left-radius: var(--size-5);
    padding-bottom: var(--size-9);
    margin-bottom: var(--size-8);
}

.reverse {
    background-color: var(--color-2);
    color: var(--color-4);
    margin-bottom: var(--size-9);
    margin-top: var(--size-9);
    padding-bottom: var(--size-9);
    padding-top: var(--size-9);
}

.reverse h2 {
    color: var(--color-4);
}

.tags, .tags h2 {
    padding-bottom: var(--size-4);
}

.media img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.loading-dots::after {
    animation: load-dots 2s linear infinite;
    content: '.';
}

@keyframes load-dots {
    0% {
        content: '.';
    }

    33% {
        content: '..';
    }

    66% {
        content: '...';
    }

    100% {
        content: '.';
    }
}

/* Alerts */

.alert-primary {
    color: var(--color-2);
}

img.xs {
    margin-bottom: .75rem;
    width: 4rem;
}

img.md {
    margin-bottom: .75rem;
    width: 8rem;
}

.info-job ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.jumbotron h1 {
    word-break: break-all;
}

.filter p>input {
    display: block;
}

.filter p>label {
    padding: 0;
    margin-bottom: 0;
}

input[type=range] {
    accent-color: var(--color-1);
}

.sort-order.asc::after {
    content: '\2191';
}

.sort-order::after {
    content: '\2193';
    padding: .5rem;
}