/* COVID */

div.row:not(div.row.select):not(.home):not(footer > div > div > div):not(.logo div.row), div.container-fluid.locations, button#locations-button {
    visibility: hidden;
    height: 0px;
}

select {
    cursor: pointer;
    width: 50%;
    height: 2em !important;
    font-size: 1.25em !important;
    margin-bottom: 2rem;
}

div#locations>div.col-sm-3 {
    padding-left: 0px;
}

@media only screen and (max-width: 576) {
    select {
        width: 25% !important;
    }
}

label>strong {
    font-size: 1.35em;
    font-weight: var(--weight-2);
}

div.form-group {
    margin: auto;
    text-align: center;
    display: block !important;
    width: 100%;
}

div.select>div.col-sm-12>div.alert {
    background: transparent;
    border: none;
}

/* Home */

img.home-icon {
    fill: var(--color-1);
    max-width: 100px;
    margin-bottom: 1.25rem !important;
    margin-top: 2rem !important;
    animation: shake 2s linear 1;
}

body.home img.home-icon {
    display: block;
    margin: auto;
}

body:not(body.home) img.home-icon {
    display: none !important;
}

@keyframes shake {
    0% {
        transform: rotateZ(0deg);
    }

    16% {
        transform: rotateZ(45deg);
    }

    33% {
        transform: rotateZ(-45deg);
    }

    50% {
        transform: rotateZ(0deg);
    }

    66% {
        transform: rotateZ(15deg);
    }

    83% {
        transform: rotateZ(-15deg);
    }

    100% {
        transform: rotateZ(0deg);
    }
}

/* State */

div.state-icon {
    width: 80px;
    max-height: 300px;
    height: 0px;
    background-color: var(--color-1);
}

/* Locations */

iframe {
    width: 100%;
    height: 0px;
}

div#locations>div.col-sm-9.float-right {
    position: sticky;
    top: 0;
}

div#locations>div.col-sm-3>p {
    text-align: left;
    cursor: pointer;
}

div#locations {
    width: 100%;
}

i.fas.fa-spinner {
    animation: spin linear infinite 2s;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

div#main-content>div.container>div.row:not(div.row:first-child), div.container-fluid.locations, button#locations-button {
    height: 0px;
    visibility: hidden;
}

#locations-button {
    display: block;
    margin-bottom: 1rem;
}

div#locations>div>p>a {
    text-decoration: underline;
}

div#locations>div.col-sm-3>p.address-selected>a {
    color: var(--color-3) !important;
}

.address-selected {
    background-color: var(--color-1);
    color: var(--color-3);
    border-radius: 4px;
    padding: .25rem;
}

.alert-light2 {
    color: var(--color-2);
    margin-bottom: 2rem;
    margin-top: 2rem;
    border: 1px solid var(--color-6) !important;
    background-color: var(--color-6) !important;
}